[core]
    editor = gvim -f
    autocrlf = true
    fscache = true # Speed up windows filesystem by disabling UAC
[alias]
    br = branch -a -v -v
    lg = log --graph --pretty=format:'%C(cyan)%h%Creset -%C(bold yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    co = checkout
    pr = pull --rebase
    rc = rebase --continue
    st = status
[color]
    ui = true
[color "diff"]
    meta = yellow
    func = magenta
[color "status"]
    added = green
    untracked = red
    nobranch = bold red
    changed = yellow
[push]
    default = simple
[user]
    name = Steven Hood
    email = stevenmhood+github@gmail.com
